
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SokchoBadaBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaBatang.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'seolleimcool-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* ----- MainPage ----- */
#home-main-section-top {
  font-family: 'seolleimcool-SemiBold';
  padding-top: 40px;
  background: linear-gradient(45deg, #46e0ba, #76d95a);
  
}

#home-main-section-top #home-main-top {
  width: 1024px;
  height: 760px;
  margin: 0 auto;
  position: relative;
  color: white
  
  
}

#home-main-section-top .home-main-title {
  font-size: 54px;
  font-weight: 700;
  line-height: 73px;
  padding-top: 200px;
  margin-bottom: 3.2rem;
  letter-spacing: -2%;
}

#home-main-section-top .service-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

#home-main-section-top .home-main-image-top {
  position: absolute;
  right: -40px;
  bottom: 50px;
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: 565px 353px;
}

#login-buttons {
  margin-top: 20px;
}

#login-buttons .login-button .login-text {
  display: inline-block;
  color: #46e0ba;
  font-size: 16px;
  font-weight: 700;
  vertical-align: middle;
  line-height: 28px;
}

#login-buttons .login-button {
  width: 180px;
  height: 56px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  text-decoration: none;
  padding: 14px 2rem;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 1rem;
  line-height: 30px;
  font-size: 25px;
  font-family: 'Pretendard-Regular';
}
/* ----- MainPage ----- */

/* ----- RegisterPage ----- */

.container {
  position: relative;
  height: 100%;
}

/* ----- RegisterPage ----- */
@media (min-width: 768px) {
  .inner {
      width: 500px;
      margin: 0 auto;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  padding-top: 80px;
}

.form_content {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .form_section {
      margin-right: 20px;
      margin-left: 20px;
      padding-right: 0;
      padding-left: 0;
  }
}

.form_section {
  padding: 80px 20px;
}

.form_list {
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;
}

.form_list::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  border: 1px solid #c6c6c6;
  pointer-events: none;
  content: ''
}

.form_item {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 50px;
  padding: 0 10px 0 45px;
}

.btn_submit {
  width: 100%;
  padding: 14px 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .05);
  background: #46e0ba;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
color: #fff;
}

.form_item.user::before {
  background-position: -342px -64px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px
}

.form_item.user:has(.err)::before {
  background-position: -310px -96px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px
}

.form_item.lock::before {
  background-position: -310px 0;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px
}

.form_item.lock:has(.err)::before {
  background-position: -310px -32px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px
}

.form_item.email::before {
  background-position: -96px -296px;;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px
}

.form_item.email:has(.err)::before {
  background-position: -310px -256px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px
}

.form_item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  border: 1px solid #dfdfdf;
  pointer-events: none;
  content: '';
}

.form_item::before {
  position: absolute;
  top: 10px;
  left: 9px;
  content: ''
}

.admit_tab .tab .text::before, .admit_tab .tab[aria-selected=true] .text::before, .bottom_popup .benefit_item.gift::before, .bottom_popup .benefit_item.remit::before, .bottom_popup .benefit_item.touch::before, .bottom_popup .btn_area .text.logo_n::before, .bottom_popup .btn_expand .text::before, .bottom_popup .title.icon_phone::before, .btn_show.hide::before, .btn_show::before, .btn_telecom::after, .check_circle input:checked+label::before, .check_circle label::before, .check_circle.error label::before, .check_normal .link_arrow::before, .check_normal input:checked+label::before, .check_normal label::before, .check_terms .link_arrow::before, .check_terms input:checked+label::before, .check_terms label::before, .form_item.calendar.error::before, .form_item.calendar.on::before, .form_item.calendar::before, .form_item.check_box .btn_expand::before, .form_item.check_box.error .check_circle label::before, .form_item.email.error::before, .form_item.email.on::before, .form_item.email::before, .form_item.globe.error::before, .form_item.globe::before, .form_item.group.error::before, .form_item.group.on::before, .form_item.group::before, .form_item.group_type.error::before, .form_item.group_type.on::before, .form_item.group_type::before, .form_item.lock.error::before, .form_item.lock.on::before, .form_item.lock::before, .form_item.phone.error::before, .form_item.phone.on::before, .form_item.phone::before, .form_item.registration_number.error::before, .form_item.registration_number.on::before, .form_item.registration_number::before, .form_item.telecom.error::before, .form_item.telecom.on::before, .form_item.telecom::before, .form_item.user.error::before, .form_item.user.on::before, .form_item.user::before, .help_modal_wrap .btn_close::before, .help_modal_wrap .btn_expand::after, .join_link_area .link::after, .join_toggle input:checked+label::after, .join_toggle label::after, .lang_select_wrap::after, .lang_select_wrap::before, .link_certify::after, .logo_naver .link::before, .select_box::after, .welcome_wrap .main_title::before, .welcome_wrap .service_link.blog::before, .welcome_wrap .service_link.cafe::before, .welcome_wrap .service_link.home::before, .welcome_wrap .service_link.id::before, .welcome_wrap .service_link.mail::before, .welcome_wrap .service_link.shopping::before, .welcome_wrap .service_link::after {
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-repeat: no-repeat;
}

.form_item::before {
  position: absolute;
  top: 10px;
  left: 9px;
  content: '';
}

.form_item:first-of-type {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.input {
  color: #ffffff;
}

.input {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color: #222;
}

button, input, select, textarea {
  border-radius: 0;
  border: none;
  background: 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-text-size-adjust: none;
}

body, button, input, select, table, textarea {
  font-family: 'Pretendard-Regular';
  font-size: 12px;
  -webkit-text-size-adjust: none;
}
.btn_submit_wrap {
  flex: none;
  padding: 20px;
}

button {
  cursor: pointer;
}

.tit_header {
  text-align: center;
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #191919;
  word-break: keep-all;
  word-wrap: break-word;
  font-family: 'seolleimcool-SemiBold';
}

.tit_sub {
  text-align: center;
  display: block;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #191919;
  word-break: keep-all;
  word-wrap: break-word;
  font-family: 'Pretendard-Regular';
}

.error_text {
  margin: 10px 4px 0;
  font-size: 13px;
  line-height: 18px;
  color: #ff3f3f;
}

/*----- home page --------*/
#home-page-section-top {
  font-family: 'SUIT-Regular';
  padding-top: 40px;
  
}

#home-page-section-top #home-page-top {
  width: 1024px;
  height: 760px;
  margin: 0 auto;
  position: relative;
  color: black
}

#home-page-section-top .home-page-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 200px;
  margin-bottom: 3.2rem;
  letter-spacing: -2%;
}

#home-page-section-top .home-page-title .shadow {
  box-shadow: inset 0 -15px 0 #46e0ba;
  line-height: 21px;
}

#home-page-section-top .home-page-image-top {
  position: absolute;
  right: -40px;
  bottom: 50px;
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: 565px 353px;
}